In [1]:
from scipy.stats import chi2_contingency
import numpy as np
import pandas as pd

In [3]:
A=[1,2,33,54,25]
B=[1,3,7,16,25]

In [5]:
data=pd.DataFrame([A,B])
data

   0  1   2   3   4
0  1  2  33  54  25
1  1  3   7  16  25

In [7]:
chi_result,p,dof,expcept_value=chi2_contingency(data)
p # p<0.05: 상관관계가있다

0.0026669771760656495

In [ ]:
chi_result,p,dof,expcept_value=chi2_contingency(data)
dof # p<0.05: 상관관계가있다 4행*2열-1열 = 4*1 해서 4입니다.

In [ ]:
'''
자기자신하고
'''

In [ ]:
A=[1,2,33,54,25]
B=[1,2,33,54,25]

In [9]:
data=pd.DataFrame([A,A])
data

   0  1   2   3   4
0  1  2  33  54  25
1  1  2  33  54  25

In [11]:
chi_result,p,dof,expcept_value=chi2_contingency(data)
p # p==1 이면 우연이다 독립적이다

1.0